body {
    font-family: Arial, sans-serif;
    background-image: url('calc background.jpg');
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    color: #F8DE22;
    margin-top: 20px;
}


button {
    position: static;
    background-color: #F94C10;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}


button:hover {
    background-color: #0056b3;
}


.div1 {
    background-color: #AA5810;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.div1 h1 {
    color: #F8DE22;
    margin-top: 0;
}


input[type="number"] {
    background-color: #F5FCCD;
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}


p {
    font-weight: bold;
}


p + p {
    margin-top: 10px;
}